# Existing
GEMINI_API_KEY=your_gemini_api_key_here

VITE_GOOGLE_SHEETS_ID=google_sheet_id

# N8n Configuration

# for local proxying
N8N_BASE_URL=/api/n8n
N8N_TARGET_URL=https://n8n8.somedomain.com/webhook/

N8N_API_KEY=your_n8n_api_key_here